# Ambiente virtual
venv/
.env

# Arquivos de cache do Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Arquivos de IDE
.vscode/
.idea/

# Banco de dados local (se SQLite for usado)
*.db
instance/

# Logs
*.log

# Migrações (caso queira ignorar)
#migrations/
